* {
	margin: 0px;
	padding: 0px;
}
html {
	background: #f7f7f7;
}
body {
	background: #f7f7f7;
	font-size: 14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

/* ###################################################
#                       MENU                         #
################################################### */

#menu {
	width: 100px;
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 120%;
	margin: 10px;
	background: #ffffff;
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu ul {
	padding: 0px;
	margin: 0px;
}
#menu ul li {
	font-weight: bold;
	list-style: none;
	padding: 15px;
}
#menu ul ul li {
	font-weight: normal;
	padding: 3px 0px;
}
#menu ul ul ul li {
	padding: 0px 15px;
}
#menu a, #menu a:visited {
	color: #000000;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}

/* ###################################################
#                       PAGE                         #
################################################### */

/* MISE EN FORME DES BLOCS DE PAGE */

#page {
	margin: 10px;
	margin-left: 120px;
	padding: 15px;
	background: #ffffff;
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: justify;
}
#minPage {
	margin: 100px auto;
	width: 400px;
	padding: 15px;
	background: #ffffff;
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: justify;
}
.corps {
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;;
	margin: 5px 0px;
	padding: 15px;
}

/* MISE EN FORME DES BLOCS DE LISTES */

ul {
	padding: 0px 10px 0px 25px;
	margin: 0px 15px;
}
li {
	padding: 5px;
}

/* MISE EN FORME DES BLOCS DES TITRES */

h1 {
	font-size: 200%;
	border-bottom: 1px solid #000;
	margin: 10px 0px;
}
h2 {
	font-size: 150%;
	border-bottom: 1px solid #000;
	margin: 10px 0px;
}
h3 {
	font-size: 125%;
	margin: 10px 0px;
}

/* MISE EN FORME DES BLOCS DES LIENS ET PARAGRAPHES */

a {
	color: #000000;
}
a:hover {
	text-decoration: none;	
}
p {
	margin: 5px 0px;
}

/* MISE EN FORME DES BLOCS DES FORMULAIRES */

.inputText, select, textarea {
	border: 1px solid #abadb3;
	color: #000;
	background-color: #FFF;
	font-size: 14px;
	padding: 2px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

input[type="submit"], .inputSubmit {
	background: #eaeaea;
	font-weight: none;
	padding: 3px 10px;
	margin: 2px;
	font-size: 14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	background: -moz-linear-gradient(top, #f0f0f0 0%, #d2d2d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d2d2d2)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d2d2d2',GradientType=0 );
	border:#bcbcbc 1px solid;
	-moz-border-radius:40px;
	-khtml-border-radius:40px;
	-webkit-border-radius:40px;
	outline: none;
	cursor: pointer;
}
input[type="submit"]:hover, .inputSubmit:hover {
	background: #f2f2f2;	
	background: -moz-linear-gradient(top, #ffffff 0%, #d2d2d2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d2d2d2)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0 );
}
input[type="submit"]:active, .inputSubmit:active {
	background: #f2f2f2;	
	background: -moz-linear-gradient(top, #d2d2d2 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d2d2), color-stop(100%,#f0f0f0)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#f0f0f0',GradientType=0 );
}

/* MISE EN FORME DU BLOC D'EXPLICATION */

.explain {
	background: #f6f6f6;
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0px;
	padding: 15px;
}

/* MISE EN FORME DES BLOCS DE RAPPORT DE TACHE */

.report {
	position: relative;
	border: 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0px;
	padding: 15px;
	
}
.report p {
	position: absolute;
	font-size: 20px;
	font-variant: small-caps;
	font-style: italic;
	font-weight: bold;
	top: -8px;
	left: 0px;
}
.report ul {
	padding: 0px 5px 0px 10px;
	margin: 0px;
}
.report li {
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
}
.errors {
	background: #f8c7c7;
	border-color: #b31c1c;
	color: #871616;
}
.errors p {
	color: #e09393;
}
.success {
	background: #d7eed7;
	border-color: #1c782b;
	color: #006600;
}
.success p {
	color: #9ac59a;
}
.infos {
	background: #b1c5f7;
	border-color: #2449a5;
	color: #102749;
}
.infos p {
	color: #869bce;
}

/* MISE EN FORME DES TABLEAUX PAR DEFAUTS */

table {
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-collapse: collapse;
}
table td {
	vertical-align: middle;
}
table.col50pc td {
	width: 50%;
}
table.col50pc {
	width: 100%;
}
.minTable {
	width: auto;
	margin: 10px auto;
}
.minTable td {
	width: auto;
}
.minTable td {
	vertical-align: middle;
}
.minTable td {
	padding: 5px;
}
.largeTable {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.largeTable td {
	vertical-align: middle;
}
.largeTable td {
	padding: 5px;
}
.largeTable .inputText, .largeTable .inputSubmit, .largeTable select, .largeTable textarea {
	width: 100%;
	/* height: 100%; */
}

/* MISE EN FORME DU TABLEAU DE GESTION DES ALBUMS */

.tree_album {
	background: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;;
	margin: 2px 0px;
	padding: 1px 5px;
}
.tree_album .tree_album_title {
	font-weight: bold;
}
.tree_album .tree_album_title_hide {
	text-decoration: line-through;
}
.tree_album .form_album {
	display: none;
}
.tree_album_title em {
	font-weight: normal;
}
#tree_album_fixed .tree_album {
	margin: 0px;
	margin-bottom: -1px;
}

/* MISE EN FORME DU TABLEAU DE STATISTIQUES ET DU JOURNAL DE BORD */

#statsFreqDiv, #statsContentDiv, #logbookDiv {
	border: 1px solid #d8d9da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;	
}
#statsFreqDiv hr, #statsContentDiv hr, #logbookDiv hr {
	border: none;
	margin: 5px;
	background: #d8d9da;
	height: 1px;	
}
#statsFreqDiv p, #statsContentDiv p, #logbookDiv p {
	margin: 10px;
}
table.statsTable {
	border: none;
	text-align: center;
}

hr.nofloat {
	clear: both;
	height: 0px;
	border: 0px solid #000000;
	width: 0px;
	visibility: hidden;
	outside: none;
}	

/* STYLE DE LA PAGE GESTION PHOTOS */

.tdPreview img {
	position: absolute; 
	display:none; 
	margin-left: 40px;
	margin-top: -100px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 5px 5px 7px #bbb;
	-webkit-box-shadow: 5px 5px 7px #bbb;
	box-shadow: 5px 5px 7px #bbb;
}
.tableListPhotos td {
	padding: 1px 5px;
}
.tableListPhotos tr:hover {
	background: #ddd;
}